/********** BASE ELEMENT STYLES **********/

body {
	background-image: url(../img/wood-background-2-edited.jpg);
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
}

h2,
p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	margin: 30px 30px 10px;
	color: #d3d3d3;
}

h2 {
	font-size: 1em;
}

p{
	font-size: 0.7em;
}

.wrapper {
	background-color: white;
	margin: 0 50px;
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 337px;
}

.banner {
	margin-top: 1em;
	display: flex;
}

.banner img {
	margin: auto;
	width: 90%;
}

ul {
	padding: 0;
	list-style-type: none;
}

.nav li,
.more-info li {
	display: flex;
	flex-direction: column;
}

.nav img,
.more-info img {
	padding: 0.8em;
	margin: auto;
	max-width: 80%;
}

.nav img {
	border: solid 1px gray;
	margin-bottom: -25px;
}

.nav p {
	z-index: 100;
	position: relative;
	top: -60px;
	font-size: 1.2em;
	color: #bdbdbd;
	padding-top: 0.6em;
	padding-bottom: 0.5em;
	width: 70%;
	border: solid 1px #bdbdbd;
	text-align: center;
	margin: auto;
}


hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d3d3d3;
    padding: 0; 
    margin: auto;
    max-width: 90%;
}

.text-image img {
	padding: 0;
}


/********** BASE LAYOUT STYLES **********/


.nav {
	margin-bottom: 20px;
}

.contact span {
	display: flex;
	margin-top: 0.8em;
}

.contact img {
	margin-left: 45px;
}

.moffett-info,
.footer {
	text-align: center;
}

.moffett-info {
	padding: 20px 0;
	line-height: 150%;
}

.footer {
	font-size: 0.8em;
	margin-bottom: 5em;
}

.footer p {
	margin-top: 0;
}

/********** MEDIA QUERIES **********/

@media (min-width: 460px){
	
/*	* {
		background-color: red;
	}*/

}